@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Light.ttf');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Source Sans Pro';
    src: url('../assets/fonts/SourceSansPro-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Rosefield';
    src: url('../assets/fonts/Rosefield-Regular.otf');
    font-weight: 400;
    font-style: normal;
}

select {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
    background-position: right 0.5rem center;
    background-position-x: right 0.5rem;
    background-position-y: center;
    background-repeat: no-repeat;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-size: 1.5em 1.5em;
    print-color-adjust: exact;
    padding-right: 2.5rem;
}

html,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    @apply text-bsm-nightblue;
}

html {
    font-size: 16px;
}

section {
    overflow: hidden;
}